@import url(https://use.typekit.net/jgr7scc.css);

.Case{
   background-color: #635373;
   font-family: din-2014, sans-serif;
   font-size: 20px;
   font-weight: 100;
   font-style: normal;
   color: white; 
   margin-top: 70px;
   margin-left: 130px;
   margin-right:130px;
 
   height: 67vh;
   padding-top: 80px;
   padding-bottom: 60px;
   padding-left:80px;
   padding-right: 100px;
   display:flex;
   line-height: 1.5;
   clear:both;
   position: relative;
}

.textTitle{
    font-size: 90px; 
    display:flex;
    font-weight: bold;
    margin-left:80px;
}

.textBody{
    display:flex;
    margin-left:80px;
    font-size:24px;
}

.textInfo{
    text-align: left;
}

.getstarted-button{
  background-color: white; 
  border: none;
  color:black;
  font-family: din-2014, sans-serif;
  text-align: center;
  text-decoration: none;
  padding:20px;
  padding-right: 40px;
  padding-left: 40px;
  margin-left: auto;
  margin-bottom: 80px;
  margin-right: 60px;
  position: absolute;
  bottom: 0;
  right:0;
  font-size: 23px;
    display: flex;
 
  
 
}

.getstarted-button:hover{
    background-color: #c3c3c4;
}

.place-holder{
    flex-direction: row;
    display:flex;
}