
.Container{
    position: relative;
    text-align: center;
}
.skeleton{
    padding-top: 55px; 
    padding-left: 0px;
    width: '100%';
    height: 150;
    margin-left: 710px;
}
.skeletonButton{
    position:absolute;
    display: inline;
    padding-left: 0px;
    height:38px;
    top: -235px;
    left: 87px;
    cursor: pointer;
    margin-left: 710px;
}
.sidebar-menu {
    background-color:#2F1A45;
    color: white;
    width: 600px;
    height:90.5vh;
    left:0vw;
    transform: translate3d(-100vw, 0, 0);
    transition:.5s;
    display:inline;
    position: absolute;

}

.sidebar-menu-active {
    background-color:#635373;
    transition: .3s cubic-bezier(0, .52, 0, 1);
    width: 600px;
    height:90.5vh;
    position: absolute;
}

.sidebar-toggle{
    background-color:#635373;
    width:600px;
    height:100%;

} 

.kneeMod{
    color:white;
    margin-top:20px;
    margin-left:180px;
    font-size: 45px;
}

.refMat{
    color:white;
    margin-left:120px;
    font-size: 45px;
}

.back{
    font-size: 25px;
    margin-left:450px;
    margin-top:30px;
    white-space: nowrap;
    display: inline-flex;
}

.back:hover{
    color:#b2a8b9;
}
/* .span.arrow :hover{
    background-color:#b2a8b9;
} */

span.arrow {
    margin-top:10px;
    margin-bottom: 100px;
    margin-left:-50px;
    display: inline-block;
    font-style:normal;
    position: relative;
    width: 0.44em;
    height: 0.44em;
    border-right: 0.11em solid white;
    border-top: 0.11em solid white;
    white-space: nowrap;
    transform: rotate(230deg);

  }

.Case1,.Case2,.Case3,.history {
    background-color: white;
    font-family: din-2014, sans-serif;
    border: none;
    color: black;
    padding: 15px 165px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    margin: 10px 2px;
    cursor: pointer;
  }

  .physical,.differential{
    background-color: white;
    font-family: din-2014, sans-serif;
    border: none;
    color: black;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    margin: 10px 2px;
    cursor: pointer;
  }

  .Case1:hover,.Case2:hover,.Case3:hover,.history:hover,.physical:hover,.differential:hover{
    background-color:#b2a8b9;
  }