.founders {
    padding: 0px;
    margin-bottom:150px;
    text-align: center;
    font-family: din-2014, sans-serif;
    color: #2F1A45;
    font-size: 35px;
  }
  
  .titlesP,.certsP,.studentsP,.teamP,.teamtitleP,.team2P,.teamtitleP{
    color: #2F1A45 ;
    font-family: din-2014, sans-serif;
    font-size: 25px ;
    text-align: center ;
  }
  

  .dot {
    height: 300px;
    width: 300px;
    background-color:#2F1A45;
    border-radius: 50%;
    display: inline-block;
    margin-right: 120px;
    align-items: center;
  }

  .circles{
    margin-left:110px;
  }

  .titles{
    margin-left: -50px;
    white-space: nowrap;
    text-align: center;
    display:inline-block;
    padding-bottom:0mm;
    
  }

  .certs{
      padding-top: 0%;
      margin-top: -30px;
      margin-left: 390px ;
      float:left;
      white-space: nowrap;
  }

  .students{
      margin-left:45px;
      white-space: nowrap;
  }

  .medical-students{
      margin-bottom:130px;
      text-align: center;
      font-family: din-2014, sans-serif;
      color: #2F1A45;
      font-size: 35px;
  }


  .development-team{
    text-align: center;
    font-family: din-2014, sans-serif;
    color: #2F1A45;
    font-size: 35px;
  }
.team{
    margin-left:10px;
    white-space: nowrap;
  }

  .team-title{
      margin-left:10px;
      white-space: nowrap;
      margin-top: -10px;
      margin-bottom:60px;
  }

  .team2{
    margin-left:50px;
    white-space: nowrap;
  }