.form {
    background-color:#2F1A45;
    text-align: left;
    height: 50%;
    width: auto;
    margin-left: 35%;
    margin-top: 10%;
    margin-right: 35%;
    margin-bottom: 10%;
    padding-top: 0.5px;
}
.p5{
    font-family: din-2014, sans-serif;
    color: white;
    font-size: 60px;
    margin-left: 10%;
    text-align: left;
    font-weight:bold;
}
.p3{
    font-family: din-2014, sans-serif;
    color: white;
    font-size: 20px;
    margin-left: 10%;
    text-align: left;
    font-weight:normal; 
}
.p4{
    font-family: din-2014, sans-serif;
    color: white;
    font-size: 10px;
    margin-left: 1%;
    text-align: left;
    font-weight:normal; 
}
.input-field{
    width: 80%;
    height: 40px;
    margin-left: 10%;
}
.btn{
    width: 81%;
    height: 50px;
    margin-left: 10%;
    margin-bottom: 5%;
}
.btn1{
    width: 81%;
    height: 50px;
    margin-left: 10%;
    margin-bottom: 10%;
}
.input-field-checkbox{
    width: 20%;
    height: 20px;
    margin-left: 1%;

}
.check{
    margin-top: 2%;
    margin-left: 11.5%;
    margin-bottom: 8%;
}
